<p id="notice"><%= notice %></p>

<%= @page.generate_tree.html_safe %>

<p>
  <strong>Name:</strong>
  <%= @page.name %>
</p>

<p>
  <strong>Head:</strong>
  <%= @page.head %>
</p>

<p>
  <strong>Body:</strong>
  <%= @page.body.html_safe %>
</p>

<%= link_to 'Add', "/#{@page.path}/add" %> |
<%= link_to 'Edit', "/#{@page.path}/edit" %> |
<%= link_to 'Back', '/' %>
